Create the dataset

In [1]:
import pandas as pd

In [2]:
# import raw travel data
travel = pd.read_csv('data/raw_data/ONTIME_REPORTING_01.csv', index_col = False)
travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_02.csv', index_col = False))
travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_03.csv', index_col = False))
travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_04.csv', index_col = False))
travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_05.csv', index_col = False))
travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_06.csv', index_col = False))
travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_07.csv', index_col = False))
travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_08.csv', index_col = False))
travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_09.csv', index_col = False))
travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_10.csv', index_col = False))
travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_11.csv', index_col = False))
travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_12.csv', index_col = False))
travel

/var/folders/bk/5jwcygx13h7gxxn13v10g1yr0000gn/T/ipykernel_6546/1524029062.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_02.csv', index_col = False))
/var/folders/bk/5jwcygx13h7gxxn13v10g1yr0000gn/T/ipykernel_6546/1524029062.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_03.csv', index_col = False))
/var/folders/bk/5jwcygx13h7gxxn13v10g1yr0000gn/T/ipykernel_6546/1524029062.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_04.csv', index_col = False))
/var/folders/bk/5jwcygx13h7gxxn13v10g1yr0000gn/T/ipykernel_6546/1524029062.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_05.csv', index_col = False))
/var/folders/bk/5jwcygx13h7gxxn13v10g1yr0000gn/T/ipykernel_6546/1524029062.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_06.csv', index_col = False))
/var/folders/bk/5jwcygx13h7gxxn13v10g1yr0000gn/T/ipykernel_6546/1524029062.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_07.csv', index_col = False))
/var/folders/bk/5jwcygx13h7gxxn13v10g1yr0000gn/T/ipykernel_6546/1524029062.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_08.csv', index_col = False))
/var/folders/bk/5jwcygx13h7gxxn13v10g1yr0000gn/T/ipykernel_6546/1524029062.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_09.csv', index_col = False))
/var/folders/bk/5jwcygx13h7gxxn13v10g1yr0000gn/T/ipykernel_6546/1524029062.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_10.csv', index_col = False))
/var/folders/bk/5jwcygx13h7gxxn13v10g1yr0000gn/T/ipykernel_6546/1524029062.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_11.csv', index_col = False))
/var/folders/bk/5jwcygx13h7gxxn13v10g1yr0000gn/T/ipykernel_6546/1524029062.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  travel = travel.append(pd.read_csv('data/raw_data/ONTIME_REPORTING_12.csv', index_col = False))

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 32
0,1,6,7,9E,N8694A,3280,10397,ATL,"Atlanta, GA",11150,...,47.0,37.0,83.0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,1,7,1,9E,N8970D,3280,10397,ATL,"Atlanta, GA",11150,...,47.0,32.0,83.0,1,NaN,NaN,NaN,NaN,NaN,NaN
2,1,8,2,9E,N820AY,3280,10397,ATL,"Atlanta, GA",11150,...,47.0,39.0,83.0,1,NaN,NaN,NaN,NaN,NaN,NaN
3,1,9,3,9E,N840AY,3280,10397,ATL,"Atlanta, GA",11150,...,47.0,37.0,83.0,1,NaN,NaN,NaN,NaN,NaN,NaN
4,1,10,4,9E,N8969A,3280,10397,ATL,"Atlanta, GA",11150,...,47.0,41.0,83.0,1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625758,12,31,2,B6,N193JB,846,13204,MCO,"Orlando, FL",15070,...,163.0,151.0,989.0,4,52.0,0.0,0.0,0.0,0.0,NaN
625759,12,31,2,B6,N304JB,854,11278,DCA,"Washington, DC",10721,...,90.0,79.0,399.0,2,NaN,NaN,NaN,NaN,NaN,NaN
625760,12,31,2,B6,N193JB,860,14100,PHL,"Philadelphia, PA",10721,...,85.0,59.0,280.0,2,NaN,NaN,NaN,NaN,NaN,NaN
625761,12,31,2,B6,N563JB,861,10721,BOS,"Boston, MA",14843,...,242.0,216.0,1674.0,7,NaN,NaN,NaN,NaN,NaN,NaN
625762,12,31,2,B6,N907JB,862,14843,SJU,"San Juan, PR",10721,...,249.0,231.0,1674.0,7,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
travel.columns

Index(['MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER', 'TAIL_NUM',
       'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_CITY_NAME',
       'DEST_AIRPORT_ID', 'DEST', 'DEST_CITY_NAME', 'CRS_DEP_TIME', 'DEP_TIME',
       'DEP_DELAY_NEW', 'DEP_DEL15', 'DEP_TIME_BLK', 'CRS_ARR_TIME',
       'ARR_TIME', 'ARR_DELAY_NEW', 'ARR_TIME_BLK', 'CANCELLED',
       'CANCELLATION_CODE', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME',
       'DISTANCE', 'DISTANCE_GROUP', 'CARRIER_DELAY', 'WEATHER_DELAY',
       'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'Unnamed: 32'],
      dtype='object')

In [4]:
data_type = travel['MONTH'].dtype
data_type

dtype('int64')

In [5]:
data_type = travel['ORIGIN_AIRPORT_ID'].dtype
data_type

dtype('int64')

In [6]:
# import raw weather data
weather = pd.read_csv('data/raw_data/airport_weather_2019.csv', index_col = False)

In [7]:
# split date
weather[['MONTH', 'DAY_OF_MONTH', 'YEAR']] = weather['DATE'].str.split('/', expand=True) #split dates mm/dd/yyy
weather[['YEAR_ALT', 'MONTH_ALT', 'DAY_OF_MONTH_ALT']] = weather['DATE'].str.split('-', expand=True) #split dates yyyy-mm-dd

#combine the two formats
weather['MONTH'] = weather['MONTH_ALT'].combine_first(weather['MONTH'])
weather['DAY_OF_MONTH'] = weather['DAY_OF_MONTH'].combine_first(weather['DAY_OF_MONTH_ALT'])
weather['YEAR'] = weather['YEAR'].combine_first(weather['YEAR_ALT'])

#drop alt columns
weather = weather.drop(['MONTH_ALT', 'DAY_OF_MONTH_ALT', 'YEAR_ALT'], axis=1)

weather

,STATION,NAME,DATE,AWND,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT10,PSUN,TSUN,SN32,SX32,TOBS,WT11,MONTH,DAY_OF_MONTH,YEAR
0,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/1/2019,4.70,NaN,0.14,0.0,0.0,64.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2019
1,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/2/2019,4.92,NaN,0.57,0.0,0.0,56.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,2019
2,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/3/2019,5.37,NaN,0.15,0.0,0.0,52.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,2019
3,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/4/2019,12.08,NaN,1.44,0.0,0.0,56.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4,2019
4,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/5/2019,13.42,NaN,0.00,0.0,0.0,49.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,5,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38670,USW00093805,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-27,6.04,NaN,0.00,NaN,NaN,68.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,27,2019
38671,USW00093805,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-28,5.37,NaN,0.06,NaN,NaN,69.0,74.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,28,2019
38672,USW00093805,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-29,7.61,NaN,0.10,NaN,NaN,70.0,74.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,29,2019
38673,USW00093805,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-30,5.82,NaN,0.02,NaN,NaN,68.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,30,2019
38674,USW00093805,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-31,3.58,NaN,0.00,NaN,NaN,51.0,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,31,2019

In [8]:
data_type = weather['MONTH'].dtype
data_type

dtype('O')

In [9]:
# convert dates to numeric
weather[['MONTH', 'DAY_OF_MONTH', 'YEAR']] = weather[['MONTH', 'DAY_OF_MONTH', 'YEAR']].astype('int64')

In [10]:
# fill empty data for weather
weather[['WT01', 'WT02',
       'WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09',  'WT10', 'WT11']] = weather[['WT01', 'WT02',
       'WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09',  'WT10', 'WT11']].fillna(0)

In [16]:
weather.columns

Index(['STATION', 'NAME', 'DATE', 'AWND', 'PGTM', 'PRCP', 'SNOW', 'SNWD',
       'TAVG', 'TMAX', 'TMIN', 'WDF2', 'WDF5', 'WSF2', 'WSF5', 'WT01', 'WT02',
       'WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09', 'WESD', 'WT10',
       'PSUN', 'TSUN', 'SN32', 'SX32', 'TOBS', 'WT11', 'MONTH', 'DAY_OF_MONTH',
       'YEAR'],
      dtype='object')

In [11]:
# import airport data

airport = pd.read_csv('data/raw_data/airports_list.csv', index_col = False) 
airport

,ORIGIN_AIRPORT_ID,DISPLAY_AIRPORT_NAME,ORIGIN_CITY_NAME,NAME
0,12992,Adams Field,"Little Rock, AR","NORTH LITTLE ROCK AIRPORT, AR US"
1,10257,Albany International,"Albany, NY","ALBANY INTERNATIONAL AIRPORT, NY US"
2,10140,Albuquerque International Sunport,"Albuquerque, NM","ALBUQUERQUE INTERNATIONAL AIRPORT, NM US"
3,10299,Anchorage International,"Anchorage, AK","ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A..."
4,10397,Atlanta Municipal,"Atlanta, GA",ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
...,...,...,...,...
92,15370,Tulsa International,"Tulsa, OK","OKLAHOMA CITY WILL ROGERS WORLD AIRPORT, OK US"
93,12264,Washington Dulles International,"Washington, DC","WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US"
94,13851,Will Rogers World,"Oklahoma City, OK","OKLAHOMA CITY WILL ROGERS WORLD AIRPORT, OK US"
95,12191,William P Hobby,"Houston, TX","HOUSTON WILLIAM P HOBBY AIRPORT, TX US"
96,10713,Boise Air Terminal,"Boise, ID","BOISE AIR TERMINAL, ID US"

In [12]:
# add airport name from airport list to travel data set
travel = travel.merge(airport[['ORIGIN_AIRPORT_ID', 'NAME']], 
                        left_on='ORIGIN_AIRPORT_ID', right_on='ORIGIN_AIRPORT_ID', 
                        how='left', suffixes=('', '_airport'))

In [24]:
# create master data set

# add travel data
travel_temp = travel[['MONTH', 'DAY_OF_MONTH', 'ORIGIN_AIRPORT_ID', 'NAME', 'DEP_DELAY_NEW', 'DEP_DEL15', 'CANCELLED']] 

# add weather data
weather_temp = weather[['MONTH', 'DAY_OF_MONTH', 'NAME', 'AWND', 'PRCP', 'SNOW', 'TMAX', 'TMIN', 'WT01', 'WT02',
       'WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09','WT10', 'WT11']]

# combine data
dirty_df  = pd.merge(travel_temp, weather_temp, on=['MONTH', 'DAY_OF_MONTH', 'NAME'], how='inner')

# remoe missing data
df = dirty_df.dropna() #remove missing data
df = df[df['CANCELLED'] == 0] #keep rows where flights were not canceled
df

,MONTH,DAY_OF_MONTH,ORIGIN_AIRPORT_ID,NAME,DEP_DELAY_NEW,DEP_DEL15,CANCELLED,AWND,PRCP,SNOW,...,WT02,WT03,WT04,WT05,WT06,WT07,WT08,WT09,WT10,WT11
0,1,6,10397,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,0.0,0.0,0.0,6.49,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,6,10397,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,0.0,0.0,0.0,6.49,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,6,10397,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,0.0,0.0,0.0,6.49,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6,10397,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,12.0,0.0,0.0,6.49,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,6,10397,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,8.0,0.0,0.0,6.49,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6694230,12,29,10299,"ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A...",0.0,0.0,0.0,7.83,0.02,0.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6694231,12,29,10299,"ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A...",0.0,0.0,0.0,7.83,0.02,0.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6694232,12,29,10299,"ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A...",0.0,0.0,0.0,7.83,0.02,0.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6694233,12,29,10299,"ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A...",0.0,0.0,0.0,7.83,0.02,0.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6694234,12,29,10299,"ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A...",38.0,1.0,0.0,7.83,0.02,0.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0